#authors_screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#authors_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    font-size: 20px;
}

#return_from_authors {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#authors_text {
    color: var(--purple-glow);
    text-shadow: 0px 0px 3px var(--red-glow);
    border: 2px dotted var(--purple);
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--black-scanline) 1px,
            var(--black-scanline) 3px,
            var(--black-scanline) 5px,
            var(--black-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--red-scanline) 100%,
            var(--red-scanline) 100%);
    background-color: rgba(159, 95, 218, 0.555);
}