* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}


/* ! Nie dotykać */

#sound_div {
    position: absolute;
    top: 5%;
    left: 3%;
    transform: translate(-50%, -50%);
}

#jump_sound_div {
    position: absolute;
    top: 15%;
    left: 3%;
    transform: translate(-50%, -50%);
}

/* ! Nie dotykać */


#authors_text {
    color: var(--purple-glow);
    text-shadow: 0px 0px 3px var(--red-glow);
    border: 2px dotted var(--purple);
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--black-scanline) 1px,
            var(--black-scanline) 3px,
            var(--black-scanline) 5px,
            var(--black-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--red-scanline) 100%,
            var(--red-scanline) 100%);
    background-color: rgba(159, 95, 218, 0.555);
}