* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

/*------------------------MENU STARTOWE---------------------------*/
#start_menu {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game_start {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#authors {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------END SCREEN---------------------------*/
#end_screen {
    /* background-color: rgb(0, 0, 0); */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#restart {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#return_to_menu {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------AUTORZY---------------------------*/
#authors_screen {
    /* background-color: rgb(0, 0, 0); */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#authors_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    font-size: 20px;
}

#return_from_authors {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------OPCJE PRZESZKÓD---------------------------*/
#options_menu {
    /* background-color: rgb(0, 0, 0); */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#laser_toggle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#points_toggle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gravity_toggle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#return_from_options {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------IKONKI GŁOŚNOŚCI---------------------------*/
#sound_div {
    /* background-color: rgb(212, 198, 113); */
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    top: 75px;
    left: 70px;
    transform: translate(-50%, -50%);
}

#jump_sound_div {
    /* background-color: rgb(212, 198, 113); */
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    top: 125px;
    left: 70px;
    transform: translate(-50%, -50%);
}

/*-------------------------LEADERBOARD--------------------------------*/
#leaderboard_screen {
    color: var(--red);
    text-shadow: 0px 0px 3px var(--red-glow);
    position: absolute;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    height: 50px;
    width: 50px;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--red-scanline) 1px,
            var(--red-scanline) 3px,
            var(--red-scanline) 5px,
            var(--red-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--black-scanline) 100%,
            var(--black-scanline) 100%);
    font-size: medium;
}

#leaderboard_title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 30px;
    border: 4px solid var(--blue);
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5)
}

#all_scores {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    border: 4px solid var(--blue);
    background-color: rgba(0, 0, 0, 0.5)
}

#score_name,
#score_value {
    text-align: center;
    width: 50%;
    height: 50%;
}

.dbRecord {
    width: 100%;
    line-height: 1.8;
}

#score,
#bestscore {
    line-height: 1.2;
}

#submit_div {

    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 15%;
    color: var(--red);
    text-shadow: 0px 0px 3px var(--red-glow);

    text-align: center;
    height: 500px;
    width: 50px;
    border: 4px solid var(--blue);
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--red-scanline) 1px,
            var(--red-scanline) 3px,
            var(--red-scanline) 5px,
            var(--red-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--black-scanline) 100%,
            var(--black-scanline) 100%);
    font-size: medium;
}

#send_score_input {
    color: var(--purple);
    text-shadow: 0px 0px 3px var(--red-glow);
    border: 2px dotted var(--purple);

    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--black-scanline) 1px,
            var(--black-scanline) 3px,
            var(--black-scanline) 5px,
            var(--black-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--red-scanline) 100%,
            var(--red-scanline) 100%);
}

#send_score_input:focus {
    color: var(--purple-glow);
    outline: var(--purple-glow);
}

#send_score_button {
    background-color: cyan;
}

#authors_text {
    color: var(--purple-glow);
    text-shadow: 0px 0px 3px var(--red-glow);
    border: 2px dotted var(--purple);
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            var(--black-scanline) 1px,
            var(--black-scanline) 3px,
            var(--black-scanline) 5px,
            var(--black-scanline) 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            var(--red-scanline) 100%,
            var(--red-scanline) 100%);
    background-color: rgba(159, 95, 218, 0.555);
}